$font-family--text: 'Trirong', serif;
$font-family--display: 'Fira Sans', serif;
$font-family--impontant-text: 'Martel', serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;



// Colors
$color-primary: #ffcc00;
$color-secondary: #333;
$color-tertiary: #707070;
$color-border: #efefef;

$color-bg-footer: #f2f2f2;

$color-facebook: #29487D;
$color-twitter: #1DA1F2;
$color-instagram: #000000;
$color-youtube: #FF0000;