


// Button
@mixin btn {
    background:$color-primary;
    color: $color-secondary;
    font-weight: $semibold;
    font-family: $display;
    border-radius: none;
    padding: $btn-pole $btn-side;
    border: none;
    text-decoration: none;
}

// Links
@mixin link {
    color: $color-secondary;
    font-weight: $semibold;
    text-decoration: none;
}

@mixin link-hover {
    text-decoration: none;
    font-weight: $semibold;
    color: $color-secondary;
}

@mixin link-decorated {
    color: $color-secondary;
    border-bottom: .1rem solid $color-primary;
}

@mixin link-decorated-hover {
    text-decoration: none;
    color: $color-secondary;
    background-color: $color-primary;
}

// Titles
@mixin title {
    margin-top: 0;
    font-family: $display;
}

@mixin mutted {
    font-size: 0.8rem;
}

// textes
@mixin text {
    font-family: $text;
    font-size: $small;
}

// DROP CAPS

@mixin drop-caps {
    font-family: $display;
    background: $color-primary;
    font-weight: $semibold;
    padding: $extra-small;
   
}

// Sizes
@mixin extra-small {
    font-size: $extra-small;
}

@mixin small {
    font-size: $small;
}

@mixin medium {
    font-size: $medium;
}

@mixin large {
    font-size: $large;
}

@mixin extra-large {
    font-size: $extra-large;
}

// Card meta
@mixin card-meta {
    list-style: none;
    padding: 0;
    font-size: $mutted;
    color: $color-tertiary;
    text-transform: uppercase;
}

@mixin category {
    text-decoration: none;
    color: $color-secondary;
    font-weight: $semibold;
}

// Play button
@mixin play-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-primary;
    font-size: $small;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

@mixin social-media {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

@mixin input {
    border: 1px solid $color-quaternary;
    padding: $mall $large;
    font-weight: $semibold;
}


// Social media




// ***************
// ****Form*******
// ***************
@mixin input {
    font-family: $display;
    border: .05rem solid $color-quaternary;
    padding: 1.5rem 2rem;
    border-radius: 0;
}


@mixin social-media {
    font-size: $medium;
    list-style: none;
}

