


// Button
@mixin btn {
    background:$color-primary;
    color: $color-secondary;
    font-weight: $semibold;
    font-family: $display;
    border-radius: none;
    padding: $btn-pole $btn-side;
    border: none;
}

// Links
@mixin link {
    color: $color-secondary;
    font-weight: $semibold;
    text-decoration: none;
}

@mixin link-hover {
    text-decoration: none;
    font-weight: $semibold;
}

@mixin link-decorated {
    border-bottom: $extra-small;
}

@mixin link-decorated-hover {
    text-decoration: none;
    background-color: $color-primary;
}

// Titles
@mixin title {
    font-family: $display;
}


// textes
@mixin text {
    font-family: $text;
}

@mixin drop-caps {
    color: $color-secondary;
    background-color: $color-primary;
    font-weight: $semibold;
    padding: $extra-small;
}

// Sizes
@mixin extra-small {
    font-size: $extra-small;
}

@mixin small {
    font-size: $small;
}

@mixin medium {
    font-size: $medium;
}

@mixin large {
    font-size: $large;
}

@mixin extra-large {
    font-size: $extra-large;
}

// Card meta
@mixin card-meta {
    color: $color-tertiary;
    text-transform: uppercase;
}

// Play button
@mixin play-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-primary;
    font-size: $small;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

@mixin social-media {
    list-style-type: none;
    padding-left: 0
}

@mixin input {
    border: 1px solid $color-quaternary;
    padding: $mall $large;
    font-weight: $semibold;
}