body{
    font-family: $font-family--text;
    font-weight: $light;
}

h1{
    font-family: $font-family--display;
}



/*
1. définir le font-family
2. définir le font-weight
3. définir le font-size
4. définir le font-style 

de tout les elements
h1, body, textearea, input, button

*/